.chat_window_container{
    height: calc(100vh-70px);
    display: flex;
}
.search_chat{
    width: 90%;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}
.chat_menu{
    flex: 3.5;
}
.chat_box{
    flex: 5.5;
}
.online_menu{
    flex: 3;
}
.chat_menu_wrapper,.chat_box_wrapper,.online_menu_wrapper{
    padding: 10px;
    
    height: 100%;
}