.nav_container{
    width: 100%;

    background: rgb(32, 49, 145);
    align-items: center;
    
    
   
   
}
.nav_link{
    color: rgb(245, 239, 243);
    text-decoration: none;
    
    font-weight: 500;
    
}
.nav_wrapper{
    
}